 {
    background-image: url("https://thumb.tildacdn.com/tild3462-3531-4236-b830-666334313562/-/cover/116x116/center/center/-/format/webp/telegram_logo_png_im.png");
    font-size: 20px;
    background-repeat: no-repeat;
}